<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="youlike.jwllls.com.newsmodule">

    <application android:theme="@style/Theme.AppCompat">
        <activity
            android:name="PictureActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
